@import 'custom';
@import "../../vendor/bootstrap/scss/bootstrap"; // Include all of Bootstrap

body {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: #eeeeee;
  height: 100vh;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      button {
        width: 25rem;
      }
    }
  }
}